*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

[class*='col-'] {
  float: left;
}

[class*='col-'] {
  padding-right: 20px;
}
[class*='col-']:last-of-type {
  padding-right: 0;
}

.col-50 {
	width: 50%;
}

.cool-form fieldset {
	padding: 10px 20px 20px;
	border: 1px solid rgba(0,0,0,0.1);
	margin-top: 20px;
}

.cool-form legend {
	font-size: 1.2em;
	font-weight: bold;
}

.cool-form input,
.cool-form select {
	width: 100%;
}

.cool-form select {
	margin: 10px 0 20px 0;
}

