.accordion {
	margin: 0 -20px;

	.accordion-section {
		border-top: 1px solid rgba($blueR, $blueG, $blueB, 0.2);

		.accordion-header {
			padding: 15px 40px 15px 20px;
			font: $fontBold;
			position: relative;
		}

		.accordion-header:before {
			position: absolute;
			right: 20px;
			top: 10px;
			font-family: 'FontAwesome';
			@extend .fa-chevron-down;
		}

		.accordion-header:hover {
			cursor: pointer;
			color: $teal;
		}

		.accordion-body {
			max-height: 0px;
			overflow: hidden;
			@include transition(all 0.2s ease-in-out);
		}
	}

	.accordion-section:last-child {
		border-bottom: 1px solid rgba($blueR, $blueG, $blueB, 0.2);
	}

	.accordion-section.expanded {
		.accordion-header {
			border-bottom: 1px solid rgba($blueR, $blueG, $blueB, 0.2);
		}

		.accordion-header:before {
			@extend .fa-chevron-up;
		}

		.accordion-body {
			max-height: 800px;
		}
	}
}