button {
	border: 0;
}

.button {
	background: transparent;
}

.button-hotkeys {
	position: relative;
	font: $fontBold;
	border: 1px solid $white;
	color: $white;
	text-transform: uppercase;
	padding: 5px;
	margin: 62px 0 0;
	font-size: 14px;
}

.button-hotkeys:before {
	content: "\f11c";
	font-family: 'FontAwesome';
	font-weight: normal;
	position: absolute;
	top: -38px;
	left: 2px;
	font-size: 68px;
}

.button-hotkeys:hover {
	background: $white;
	color: $blue;
	@include transition(background 0.2s ease-in);
}

.button-hotkeys:hover:before {
	color: $white;
}
