//COLORS
$blue: #556270;
$blueR: 85;
$blueG: 98;
$blueB: 112;

$white: #fff;
$whiteR: 255;
$whiteG: 255;
$whiteB: 255;

$wBlue: #747e8a;

$teal: #4ecdc4;
$tealR: 78;
$tealG: 205;
$tealB: 196;

.body-c2 {
	.content .content-right nav {
		background: $blue;
		color: $white;

		.range-label:before {
			color: $white;
		}

		input[type=range]::-webkit-slider-thumb {
			background: $white;
		}

		input[type=range]::-moz-range-thumb {
			background: $white;
		}

		input[type=range]::-ms-thumb {
			background: $white;
		}

		input[type=range]::-webkit-slider-runnable-track {
			background: $wBlue;
		}

		input[type=range]:focus::-webkit-slider-runnable-track {
			background: $wBlue;
		}

		input[type=range]::-moz-range-track {
			background: $wBlue;
		}

		input[type=range]::-ms-fill-lower {
			background: $wBlue;
		}

		input[type=range]:focus::-ms-fill-lower {
			background: $wBlue;
		}

		input[type=range]::-ms-fill-upper {
			background: $wBlue;
		}

		input[type=range]:focus::-ms-fill-upper {
			background: $wBlue;
		}

		input[type=range]:before,
		input[type=range]:after {
			background: $wBlue;
			color: $white;
		}
	}

	.modal-content {
		background: $white;
		color: $blue;
	}

	.close {
		color: $blue;
	}

	.modal-header {
		border-bottom: 1px solid rgba($blueR, $blueG, $blueB, 0.2);
	}

	.modal-footer {
		border-top: 1px solid rgba($blueR, $blueG, $blueB, 0.2);
	}

	.btn-default {
		color: $blue;
		background-color: $white;
		border-color: rgba($blueR, $blueG, $blueB, 0.2);
	}
}