//COLORS
$blue: #33cabf;
$blueR: 51;
$blueG: 202;
$blueB: 191;

$white: #000;
$whiteR: 0;
$whiteG: 0;
$whiteB: 0;

$wBlue: #239c93;

$teal: #239c93;
$tealR: 35;
$tealG: 156;
$tealB: 147;

$green: #48b11a;
$greenR: 72;
$greenG: 177;
$greenB: 76;

$yellow: #bba617;

$red: #b11a1a;
$redR: 177;
$redG: 26;
$redB: 26;

.body-c4 {
	background: $white;

	a {
		color: $teal;
	}

	.button-hotkeys {
		border: 1px solid $white;
		color: $white;
	}

	.button-hotkeys:hover {
		background: $white;
		color: $blue;
	}

	.button-hotkeys:hover:before {
		color: $white;
	}

	.content .content-left {
		.main-help {
			background: $blue;
			color: $white;
		}

		.main-help:hover {
			background: $teal;
		}

		.search-form {
			input,
			button {
				color: $blue;
			}

			input {
				background: rgba($blueR, $blueG, $blueB, 0.1);
			}

			button:hover {
				color: $white;
			}
		}

		#content-area {
			color: $blue;

			.content-summary {
				.summary-block {
					background: $teal;
					color: $white;
					border-right: 2px solid $white;
				}

				.summary-block-visual {
					background: $green;
				}

				.summary-block-auditory {
					background: $red;
				}

				.summary-block-other {
					background: $yellow;
				}
			}

			.points {
				.question {
					border-bottom: 1px solid rgba($blueR, $blueG, $blueB, 0.2);
				}

				.question-true {
					background: rgba($greenR, $greenG, $greenB, 0.2);

					&:after {
						color: $green;
					}
				}

				.question-false {
					background: rgba($redR, $redG, $redB, 0.1);

					&:after {
						color: $red;
					}
				}

				.question-null {
					color: rgba($blueR, $blueG, $blueB, 0.5)
				}
			}

			.points-score {
				border-right: 20px solid $white;
				
				tr:first-child {
					td:last-child {
						border-bottom: 2px solid $blue;
					}
				}
			}

			.tabs {
				h3 {
					background: $teal;
					color: $white;
					box-shadow: 0 -20px 60px rgba($blueR, $blueG, $blueB, 0.2);
					border-top: 1px solid rgba($blueR, $blueG, $blueB, 0.2);
				}

				h3.vision {
					background: $green;
				}

				h3.hearing {
					background: $red;
				}

				h3.other {
					background: $yellow;
				}
			}
		}
	}

	.content .content-right nav {
		background: $blue;
		color: $white;

		.range-label:before {
			color: $white;
		}

		input[type=range]::-webkit-slider-thumb {
			background: $white;
		}

		input[type=range]::-moz-range-thumb {
			background: $white;
		}

		input[type=range]::-ms-thumb {
			background: $white;
		}

		input[type=range]::-webkit-slider-runnable-track {
			background: $wBlue;
		}

		input[type=range]:focus::-webkit-slider-runnable-track {
			background: $wBlue;
		}

		input[type=range]::-moz-range-track {
			background: $wBlue;
		}

		input[type=range]::-ms-fill-lower {
			background: $wBlue;
		}

		input[type=range]:focus::-ms-fill-lower {
			background: $wBlue;
		}

		input[type=range]::-ms-fill-upper {
			background: $wBlue;
		}

		input[type=range]:focus::-ms-fill-upper {
			background: $wBlue;
		}

		input[type=range]:before,
		input[type=range]:after {
			background: $wBlue;
			color: $white;
		}
	}

	.content .content-right {
		.hot-keys {
			background: rgba($blueR, $blueG, $blueB, 0.9);
			color: $white;

			span:before {
				border: 1px solid $white;
			}
		}
	}

	.map-poi a {
		color: $blue;
	}

	.alert-warning {
		background: rgba($blueR, $blueG, $blueB, 0.1);
		border: 1px solid rgba($blueR, $blueG, $blueB, 0.2);
		color: $blue;
	}

	.modal-content {
		background: $white;
		color: $blue;
	}

	.close {
		color: $blue;
	}

	.modal-header {
		border-bottom: 1px solid rgba($blueR, $blueG, $blueB, 0.2);
	}

	.modal-footer {
		border-top: 1px solid rgba($blueR, $blueG, $blueB, 0.2);
	}

	.btn-default {
		color: $blue;
		background-color: $white;
		border-color: rgba($blueR, $blueG, $blueB, 0.2);
	}
}