//COLORS
$blue: #556270;
$blueR: 85;
$blueG: 98;
$blueB: 112;

$white: #fff;
$whiteR: 255;
$whiteG: 255;
$whiteB: 255;

$wBlue: #747e8a;

$teal: #4ecdc4;
$tealR: 78;
$tealG: 205;
$tealB: 196;

$green: #94c852;
$greenR: 148;
$greenG: 200;
$greenB: 82;

$yellow: #eebb4d;

$red: #ff6b6b;
$redR: 255;
$redG: 107;
$redB: 107;