//FONTS
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,900,300italic,400italic);
$font: 400 1em/100% "Lato", "Helvetica", "Arial", sans-serif;
$fontItalic: italic 400 1em/100% "Lato", "Helvetica", "Arial", sans-serif;
$fontBold: 900 1em/100% "Lato", "Helvetica", "Arial", sans-serif;



@font-face {
	font-family: 'access';
	src:url('../fonts/access/access.eot?-lxjgek');
	src:url('../fonts/access/access.eot?#iefix-lxjgek') format('embedded-opentype'),
		url('../fonts/access/access.woff?-lxjgek') format('woff'),
		url('../fonts/access/access.ttf?-lxjgek') format('truetype'),
		url('../fonts/access/access.svg?-lxjgek#access') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'access';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-hearing:before {
	content: "\e600";
}

.icon-other:before {
	content: "\e601";
}

.icon-physical:before {
	content: "\e602";
}

.icon-vision:before {
	content: "\e603";
}


body {
	font: $font;
	font-size: 1.7em;

	a {
		color: $teal;
	}
}

html,
body {
	padding: 0;
	margin: 0;
}

html, 
body,
.content,
.content-row,
.content-left,
.content-right {
	height: 100%;
}
