.content .content-left {
	z-index: 3;
	box-shadow: 0 0 30px $blue;
	padding: 0px;
	word-wrap: break-word;

	.content-left-container {
		padding: 20px 20px 50px 20px;
	}

	.main-help {
		background: $blue;
		color: $white;
		font-family: 'FontAwesome';
		font-size: 35px;
		line-height: 17px;
		width: 50px;
		height: 50px;
		position: fixed;
		bottom: 0;
		left: 0;
		text-indent: -99999em;
		z-index: 5;
		@include transition(background 0.3s ease-in);
	}

	.main-help:before {
		content: "\f059";
		text-indent: 0em;
		position: absolute;
		top: 16px;
		left: 8px;
	}

	.main-help:hover {
		background: $teal;
	}

	.search-form {
		position: relative;
		margin-bottom: 30px;

		input,
		button {
			border: 0;
			color: $blue;
		}

		input {
			padding: 10px 40px 10px 10px;
			width: 100%;
			background: rgba($blueR, $blueG, $blueB, 0.1);
			@include input-placeholder {
				font: $fontItalic;
			}
		}

		button {
			position: absolute;
			text-indent: -9999em;
			width: 40px;
			height: 40px;
			top: 0px;
			right: 0px;
			background: transparent;
			@include transition(color 0.2s ease-in);
		}

		button:before {
			content: "\f002";
			font-family: 'FontAwesome';
			position: absolute;
			top: 11px;
			left: 8px;
			text-indent: 0em;
			font-size: 22px;
		}

		button:hover {
			color: $white;
		}
	}

	#message-area {
		margin: 20px 0;
		div {
			display: none;
		}
	}

	#content-area,
	#web-area {
		color: $blue;
		display: none;

		h1 {
			font: $fontBold;
			font-size: 1.1em;
			line-height: 1.3em;
			margin-bottom: 20px;
		}

		h2 {
			text-transform: uppercase;
			font-size: 1em;
			margin: 30px 0;
		}

		address {
			font-size: 0.8em;

		}

		.img-featured {
			border: 4px solid rgba($blueR, $blueG, $blueB, 0.2);
		}

		.content-connect {
			font-size: 0.7em;
			margin: 30px 0;
			padding: 0 0 30px;
			border-bottom: 1px solid rgba($blueR, $blueG, $blueB, 0.2);

			a {
				text-transform: uppercase;
				display: inline-block;
				border-right: 1px solid rgba($blueR, $blueG, $blueB, 0.2);
				padding: 0 5px;
			}

			a:last-child {
				border-right: 0px;
			}
		}

		.content-summary {
			margin: 0 -20px;

			.summary-block {
				text-align: center;
				background: $teal;
				color: $white;
				font: $fontBold;
				font-size: 35px;
				padding: 20px 0;
				width: 25%;
				display: block;
				float: left;
				border-right: 2px solid $white;
				@include transition(all 0.1s ease-in);
			}

			.summary-block:last-of-type {
				border-right: 0px;
			}

			.summary-block:before {
				font-family: 'access';
				font-size: 70px;
				display: block;
				line-height: 1em;
				font-weight: normal;
				margin: 0 0 10px 0;
			}

			.summary-block.selected {
				z-index: 1;
				position: relative;
				margin-bottom: -1px;
				padding-bottom: 21px;
			}

			.summary-block-mobility {
				@extend .icon-physical;
			}

			.summary-block-visual {
				background: $green;
				@extend .icon-vision;
			}

			.summary-block-auditory {
				background: $red;
				@extend .icon-hearing;
			}

			.summary-block-other {
				background: $yellow;
				@extend .icon-other;
			}

			.summary-block > .title {
				display: none;
			}

			.summary-block:hover {
				text-decoration: none;
				padding-bottom: 30px;
				margin-top: -10px;
			}

			.summary-block.selected:hover {
				padding-bottom: 30px;
				margin-top: -9px;
			}
		}

		.points {
			margin: 0;
			padding: 0;

			.question {
				padding: 15px 60px 15px 20px;
				position: relative;
				border-bottom: 1px solid rgba($blueR, $blueG, $blueB, 0.2);
			}

			.question > .answer {
				display: none;
			}

			.question:after {
				text-indent: 0em;
				display: block;
				font-size: 1.3em;
				font-family: 'FontAwesome';
				position: absolute;
				right: 30px;
				top: 15px;
			}

			.question-true {
				background: rgba($greenR, $greenG, $greenB, 0.2);

				&:after {
					color: $green;
					@extend .fa-check:before;
				}
			}

			.question-false {
				background: rgba($redR, $redG, $redB, 0.1);

				&:after {
					color: $red;
					@extend .fa-times:before;
				}
			}

			.question-null {
				color: rgba($blueR, $blueG, $blueB, 0.5)
			}
		}

		.points-score {
			margin: 20px 0;
			width: 100%;
			text-align: right;
			border-right: 20px solid $white;

			tr {
				td:first-child {
					padding-right: 20px;
				}
				td:last-child {
					text-align: center;
					width: 10%;
					font: $fontBold;
					font-size: 1.3em;
				}
			}

			tr:first-child {
				td:last-child {
					border-bottom: 2px solid $blue;
				}
			}

			tr:nth-child(2) {
				vertical-align: top;

				td:last-child:after {
					content: "=";
					display: block;
					margin: 0 0 3px 0;
				}
			}
		}

		.tabs {
			.tabs-item {
				height: 0px;
				overflow: hidden;
				margin: 20px 0 -20px 0;
				opacity: 0;
				@include transition(all 0.2s ease-in);
			}

			.tabs-item.active {
				height: auto;
				display: block;
				margin: 0;
				opacity: 1;
			}

			h3 {
				background: $teal;
				color: $white;
				padding: 20px;
				margin: 0px;
				font: $fontBold;
				font-size: 1.2em;
				position: relative;
				z-index: 0;
				box-shadow: 0 -20px 60px rgba($blueR, $blueG, $blueB, 0.2);
				border-top: 1px solid rgba($blueR, $blueG, $blueB, 0.2);
			}

			h3.vision {
				background: $green;
			}

			h3.hearing {
				background: $red;
			}

			h3.other {
				background: $yellow;
			}
		}
	}

	#web-area {
		display: block;

		h1 {
			margin: 0px;
		}

		.row {
			padding: 20px 0;
			border-bottom: 1px solid rgba($blueR, $blueB, $blueB, 0.2);
		}

		p {
			margin: 20px 0;
		}
	}
}

