.content .content-right {
	padding: 0;
}

.content .content-right #map {
	height: 100%;
	width: 100%;
}

.map-poi a {
	color: $blue;
	font-size: 30px;
	font-family: 'FontAwesome';
	position: absolute;
}

.map-poi a:hover {
	text-decoration: none;
}