.content .content-right nav {
	width: 100%;
	height: 100px;
	background: $blue;
	color: $white;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;

	.control-area {
		line-height: 8px;
		font-size: 30px;
	}

	.range-label {
		text-indent: -9999em;
		width: 55px;
		height: 20px;
		display: inline-block;
		position: relative;
	}

	.range-label:before {
		text-indent: 0;
		position: absolute;
		top: -2px;
		left: 0;
		color: $white;
		font-family: 'FontAwesome';
		font-size: 28px;
		line-height: 14px;
		width: 30px;
		text-align: center;
	}

	.range-label[for=control-font]:before {
		content: "\f031";
	}

	.range-label[for=control-markers]:before {
		content: "\f041";
	}

	.range-label[for=control-contrast]:before {
		content: "\f042";
	}

	.range-label[for=control-roads]:before {
		content: "\f018";
	}

	//This gets tangly.
	//Custom range slider css. Woop woop!

	$thumbColor: $white;
	$thumbRadius: 0;
	$thumbBorder: 0;
	$thumbShadow: none;
	$thumbWidth: 15px;
	$thumbHeight: 26px;

	$trackColor: $wBlue;
	$trackHeight: 20px;
	$trackBorder: 0;
	$trackShadow: none;
	$trackRadius: 0;
	$trackWidth: 60%;

	input[type=range] {
	  	-webkit-appearance: none; /* Hides the slider so that custom slider can be made */
	 	width: $trackWidth; /* Specific width is required for Firefox. */
		position: relative;
		display: inline;
		margin-top: 15px;
	}

	input[type=range]::-webkit-slider-thumb {
	  	-webkit-appearance: none;
	}

	input[type=range]:focus {
	  	outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
	}

	input[type=range]::-ms-track {
		width: $trackWidth;
		cursor: pointer;
		background: transparent; /* Hides the slider so custom styles can be added */
		border-color: transparent;
		color: transparent;
	}

	/* Special styling for WebKit/Blink */
	input[type=range]::-webkit-slider-thumb {
		-webkit-appearance: none;
		border: $thumbBorder;
		height: $thumbHeight;
		width: $thumbWidth;
		border-radius: $thumbRadius;
		background: $thumbColor;
		cursor: pointer;
		margin-top: -3px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
		box-shadow: $thumbShadow; /* Add cool effects to your sliders! */
	}

	/* All the same stuff for Firefox */
	input[type=range]::-moz-range-thumb {
		box-shadow: $thumbShadow;
		border: $thumbBorder;
		height: $thumbHeight;
		width: $thumbWidth;
		border-radius: $thumbRadius;
		background: $thumbColor;
		cursor: pointer;
	}

	/* All the same stuff for IE */
	input[type=range]::-ms-thumb {
		box-shadow: $thumbShadow;
		border: $thumbBorder;
		height: $thumbHeight;
		width: $thumbWidth;
		border-radius: $thumbRadius;
		background: $thumbColor;
		cursor: pointer;
	}

	input[type=range]::-webkit-slider-runnable-track {
		width: $trackWidth;
		height: $trackHeight;
		cursor: pointer;
		box-shadow: $trackShadow;
		background: $trackColor;
		border-radius: $trackRadius;
		border: $trackBorder;
	}

	input[type=range]:focus::-webkit-slider-runnable-track {
		background: $trackColor;
	}

	input[type=range]::-moz-range-track {
		width: $trackWidth;
		height: $trackHeight;
		cursor: pointer;
		box-shadow: $trackShadow;
		background: $trackColor;
		border-radius: $trackRadius;
		border: $trackBorder;
	}

	input[type=range]::-ms-track {
		width: $trackWidth;
		height: $trackHeight;
		cursor: pointer;
		background: transparent;
		border-color: transparent;
		border-width: 16px 0;
		color: transparent;
	}

	input[type=range]::-ms-fill-lower {
		background: $trackColor;
		border: $trackBorder;
		border-radius: $trackRadius;
		box-shadow: $trackShadow;
	}

	input[type=range]:focus::-ms-fill-lower {
		background: $trackColor;
	}

	input[type=range]::-ms-fill-upper {
		background: $trackColor;
		border: $trackBorder;
		border-radius: $trackRadius;
		box-shadow: $trackShadow;
	}

	input[type=range]:focus::-ms-fill-upper {
		background: $trackColor;
	}

	input[type=range]:before,
	input[type=range]:after {
		position: absolute;
		background: $wBlue;
		color: $white;
		height: $trackHeight;
		width: $trackHeight;
		text-align: center;
		display: block;
		font-size: 15px;
		line-height: 18px;
	}

	input[type=range]:before {
		content: "-";
		left: -$trackHeight;
	}

	input[type=range]:after {
		content: "+";
		right: -$trackHeight;
	}
}

.content .content-right {
	.hot-keys {
		word-wrap: break-word;
		position: absolute;
		top: 100px;
		width: 100%;
		background: rgba($blueR, $blueG, $blueB, 0.9);
		color: $white;
		max-height: 0px;
		overflow: hidden;
		padding: 20px;
		z-index: 1;
		margin-top: -40px;
		@include transition(all 0.2s ease-in);

		p {
			font: $fontItalic;
			margin-bottom: 20px;
		}

		span {
			position: relative;
			display: block;
		}

		span:before {
			content: attr(hotkey);
			display: inline-block;
			border: 1px solid $white;
			margin: 0 5px 0 0;
			padding: 5px;
		}
	}

	.hot-keys.show {
		margin-top: 0px;
		max-height: 500px;
	}
}