@import "compass/typography/text/replacement";
@import "compass/utilities/sprites";
@import "../images/sprites/*.png";

$sprites: sprite-map("sprites/*.png", $layout: smart);
$sprites2x: sprite-map("sprites2x/*.png", $layout: smart);

.sprite {
	display: inline-block;
}

@each $sprite in sprite-names($sprites) {
	.sprite-#{$sprite} {
		@include sprite-replace-text-with-dimensions($sprites, $sprite);
	}
}

@media only screen and (-webkit-min-device-pixel-ratio : 2), only screen and (min-device-pixel-ratio : 2)   {
	$map-path: sprite-path($sprites);
	$height: image-height($map-path);
	$width: image-width($map-path);

	.sprite {
		background-image: $sprites2x;
		background-size: $width $height;
	}
}